<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.staffhouse.dao.UserDao" >

    <select id="listUserInfo" resultType="com.example.staffhouse.entity.UserInfo">
        select * from user_inf order by id ASC
    </select>

    <select resultType="com.example.staffhouse.entity.UserInfo" id="getUserInfoByLoginName">
        select * from user_inf where loginname = #{loginName} ORDER BY id DESC
    </select>

    <select id="listUserInfoByUserStatus" resultType="com.example.staffhouse.entity.UserInfo">
        select * from user_inf where status = #{status} order by id ASC
    </select>

    <select id="getUserInfoByUserName" resultType="com.example.staffhouse.entity.UserInfo">
        select * from user_inf where username = #{userName} ORDER BY id ASC
    </select>
</mapper>